<form id="school-form" class="w-100 mx-4 mt-2 justify-center">
  <div class="flex flex-wrap mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
        School Name
      </label>
      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="name" type="text" placeholder="RM Public School">
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="location">
        Location(Display Name)
      </label>
      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="location" type="text" placeholder="Siwan,Bihar">
    </div>
  </div>

  <div class="flex flex-wrap mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="status">
        Status
      </label>
      <input class="appearance-none block bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="status" type="checkbox">
    </div>
    <div class="w-full md:w-1/2 px-3">
      <button id="submit-button" type="button" class="bg-blue-600 p-2 text-center w-full md:w-fit text-white">Create</button>
    </div>
  </div>
</form>

<script>
document.getElementById('submit-button').addEventListener('click', function() {
  const headers = {
    "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content
  };
  const formData = new FormData();
  formData.append("name", document.getElementById("name").value);
  formData.append("location", document.getElementById("location").value);
  formData.append("status", document.getElementById("status").checked ? "live" : "inactive");

  fetch('/develop/schools/create_new', {
    method: 'POST',
    body: formData,
    headers: headers
  })
  .then(response => response.json())
  .then(data => {
    if (data.status) {
      console.log('School created successfully');
      alert("Created Successfully!!!");
    } else {
      console.error('Error:', data.message.join(', '));
      alert(data.message.join(', '));
    }
  })
  .catch(error => {
    console.error('Error:', error);
  });
});

</script>
