<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your Hourly Ananlysis of the Logs..</title>
</head>
<body>
    <img src="<%=(Rails.application.config.base_url + '/logo.png')%>" style: "width:100%;max-height:200px">

    <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1">
        <tr>
            <td align="center">
                <table width="600" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                    <tr>
                        <td align="center" style="padding: 20px;">
                            <h1>Hourly Ananlysis from Bharat.ai</h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table width="600" cellpadding="0" cellspacing="0">
    <tr>
        <td style="padding: 20px;">
            <p>Hello User</p>
            <p>This is your Analysis for the last Hour.</p>
            
            <table border="1" cellpadding="10" cellspacing="0" style="width: 100%;">
                <tr>
                    <th>Name</th>
                    <th>Start Time</th>
                    <th>Duration(seconds)</th>
                </tr>
                <% @logs.each do |log| %>
                    <tr>
                        <td><%= log["name"] %></td>
                        <td><%= log["at"] %></td>
                        <td><%= log["duration"] %></td>
                    </tr>
                <% end %>
            </table>
            
            <p>Thank you for using our service.</p>
        </td>
    </tr>
</table>


    <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1">
        <tr>
            <td align="center">
                <table width="600" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="padding: 20px;">
                            <p>If you have any questions or need further assistance, please contact us at <a href="mailto:lbsingh732196@gmail.com">lbsingh732196@gmail.com</a>.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
