<div class="container w-100%" style="margin-bottom: 100px; background: linear-gradient(to bottom, #1E2650 0.5%, white 18%); border-radius:10px;">
  <div class="headinging " style="margin-bottom: 50px;"> <h1> Latest News</h1></div>
    <ul class="custom-list list-unstyled">
        <li><img src="home/user/Pictures" alt="">
           This is a longer card with supporting text below as a natural lead-in to additional content.This is a</li>
        <li><img src="path/to/your/image.jpg" alt="">
           This is a longer card with supporting text below as a natural lead-in to additional content.This is a hhhhhhhhhhh</li>
        <li><img src="path/to/your/image.jpg" alt="">
           This is a longer card with supporting text below as a natural lead-in to additional content.This is a longer card with supporting text below as a natural</li>
        <li><img src="path/to/your/image.jpg" alt="">
           This is a longer card with supporting text below as a natural lead-in to additional</li>
        <li><img src="path/to/your/image.jpg" alt="">
           This is a longer card with supporting text below as a natural lead-in to additional content.This is a longer card with supporting text below as a natural lea</li>
        <li><img src="path/to/your/image.jpg" alt="">
           This is a longer card with supporting text below as a natural lead-in to additional content.This is a longer card with supporting </li>
    </ul>
</div>

<style>
.headinging h1 {
  padding-bottom: 5px;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 12px; /* Adjust the gap between list items */
  font-size: 22px; /* Set the desired font size */
  position: relative; /* Position relative for positioning the underline */
}

li:after {
  content: ""; /* Create an empty content for the pseudo-element */
  position: absolute;
  bottom: -5px; /* Adjust the distance between text and underline */
  left: 0;
  height: 1px; /* Set the thickness of the underline */
  background-color: #000; /* Set the color of the underline */
}
.material-symbols-outlined {
  margin-right: 10px; /* Adjust the gap between the arrow icon and text */
  font-size: 40px; /* Set the desired font size for the arrow icon */
}
ul.custom-list li {
    text-decoration: underline;
}

</style>
