<style>
.serv {
  margin-right: 100px;
}
.row-cols-5 .col:last-child .serv {
    margin-right: 200px;
 }
</style>
<div class="container" style="margin-bottom: 100px;  background: linear-gradient(to bottom, #1E2650 0.5%, white 10%); border-radius:10px;">
  <div class="headinging text-center " style="margin-bottom: 70px;"> <h1> Our Services</h1></div>

<div class="row row-cols-6 row-cols-md-3 ml-2">
  <div class="col">
    <div class="card serv">
      <img src="https://www.shutterstock.com/image-photo/customer-technical-service-warranty-quality-260nw-1906805677.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card serv">
      <img src="https://www.shutterstock.com/image-photo/customer-technical-service-warranty-quality-260nw-1906805677.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card serv">
      <img src="https://www.shutterstock.com/image-photo/customer-technical-service-warranty-quality-260nw-1906805677.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card serv"  style="margin-top: 60px;">
      <img src="https://www.shutterstock.com/image-photo/customer-technical-service-warranty-quality-260nw-1906805677.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card serv"  style="margin-top: 60px;">
        <img src="https://www.shutterstock.com/image-photo/customer-technical-service-warranty-quality-260nw-1906805677.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
   </div>
   <div class="col">
    <div class="card serv"  style="margin-top: 60px;">
        <img src="https://www.shutterstock.com/image-photo/customer-technical-service-warranty-quality-260nw-1906805677.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
   </div>
</div>

</div>