
<body>
  <div>
    <%= render 'students/sidebar'%>
    <div class="centered-text">
        <p>THE GAME IS NOT LIVE YET</p>
    </div>
  </div>
</body>
<style>

.centered-text {
  text-align: center;
  font-size: 3vw;
  display: flex;
  margin-top: 10%;
  justify-content: center;
  height: 100vh; 
  font-weight:bold;
}
</style>



