<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background: linear-gradient(to right, #fff5d7, #1d304e);
      height: 100%;
    }

    .heading-rewards h1 {
      margin-top: 1.7%;
      font-weight: 850;
      color: white;
      font-size: 4em;
      border-radius: 0.5rem;
    }
    .total_coins img{
    height: 300px;
    width: 350px;
    border-radius: 300px;
    }
  </style>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy1qce9q5N6Z7EJQqECB/U5cGP2qpK2x"
    crossorigin="anonymous">
</head>

<body>

  <div>
    <%= render 'students/sidebar'%>
    <div class="heading-rewards d-flex justify-content-center align-item-center">
      <h1> Rewards and coins</h1>
    </div>
  </div>

  <!-- First Row: Single Card of 70% width -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Your single card content goes here -->
        <div class="card">
          <div class="card-body total_coins">
            <p style="text-align:center" >Total Earnings</p>
              <div class = "row">
                <div class = "col">
                  <img src="https://img.freepik.com/free-psd/realistic-money-element_23-2150396398.jpg?w=740&t=st=1702657334~exp=1702657934~hmac=739a3769824e713ccc753d72e5fddcdea1aa9e64d6b351ec3f11b85c3653acce" alt="My Image">
                </div>
                <div class = "col">
                  <p style="text-align:center" >Total Earnings</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Row: Four Small Cards -->
    <div class="row mt-5">
      <div class="col-md-4">
        <!-- Small Card 1 -->
        <div class="card">
          <div class="card-body">
           <p style="text-align:center"> Physics </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- Small Card 2 -->
        <div class="card">
          <div class="card-body">
            <p style="text-align:center">Chemistry</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- Small Card 3 -->
        <div class="card">
          <div class="card-body">
            <p style="text-align:center"> Maths </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Include Bootstrap JS and Popper.js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
    integrity="sha384-q3jv9eTo0AdXd+zL4ZD0e4Mko1cx3Fy7gxy5l5nrvhlkCWvxJLOeCA6DI5miCVX8"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy1qce9q5N6Z7EJQqECB/U5cGP2qpK2x"
    crossorigin="anonymous"></script>

</body>

</html>
