
  <title><%= @blog.title %></title>
  <h1><%= @blog.title %></h1>
  <p>Please log in or sign up to access premium content.</p>
  <!-- Insert login/signup buttons or links here -->

<div style="background:#fff;" class="mt-4 mx-2">
  <!-- Blog Content -->
  <%= @blog.content.html_safe %>
</div>
