
<div class="mt-10 text-center">
        <div class="w-100 flex justify-center">
            <%= image_tag(url_for("logo.png"),  class:"w-fit") %>
        </div>
        <div id="formConatiner">
            <div class="w-100 flex justify-center mt-8">
                <div class="md:w-1/4 p-4 bg-gray-300 py-12">
                    <div class="">
                        <h2 class="mb-4 text-center font-bold text-xl">Login</h2>
                            <div class="form-group">
                                <p id="error_text" class="text-red-500"></p>
                                <input type="email" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="email" placeholder="Enter your username or email">
                            </div>
                            <button type="submit" class="bg-blue-600 p-2 text-center w-full  text-white" id="generate_otp" onclick="generateOtp()">Generate OTP</button>
                    </div>
                    <%= link_to "Other Ways to Log In", '/users/sign_in', class: "text-dark-600 hover:text-blue-700 underline mb-2 inline-block mt-2" %><br />

                </div>
            </div>
        </div>
        <div class="w-100 flex justify-center mt-8" id="otp_verfiy_container" style="display:none;">
            <div class="md:w-1/4 p-4 bg-gray-300 py-12">
                <div class="">
                    <h2 class="mb-4 text-center font-bold text-xl">Login</h2>
                        <div class="form-group">
                            <p  class="text-green-500">Otp sent</p>
                            <p id="otp_error_text" class="text-red-500"></p>
                            <input type="number" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="email_otp" name="email_otp" placeholder="Enter Otp Sent to Your Email">
                        </div>
                        <button type="submit" class="bg-blue-600 p-2 text-center w-full  text-white" id="verfify_otp" onclick="verfiyOtp()">Login</button>
                </div>
            </div>
        </div>  
</div>

<script>
    function generateOtp() {
        const email = document.getElementById("email").value;
        const btngene = document.getElementById("generate_otp");
        btngene.innerHTML = "Generating";
        btngene.disabled = true;
        $.ajax({
        type: 'POST',
        url: '/custom_login/generate_otp',
        data: JSON.stringify({email: email}),
        headers:{
            "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content,
            "Content-Type": "application/json"
            },
        success: function (data) {
            if(data.status){
                document.getElementById("formConatiner").style.display ="none";
                document.getElementById("otp_verfiy_container").style.display ="";
            }
            else{
                document.getElementById("error_text").innerHTML = data?.message;
            }
        }
        });
        btngene.innerHTML = "Generate OTP";
        btngene.disabled = false;
    }

    function verfiyOtp() {
        var otp = document.getElementById("email_otp").value;
            $.ajax({
            type: 'POST',
            url: '/custom_login/verify_otp',
            data: JSON.stringify({email: document.getElementById("email").value, otp: otp}),
            headers:{
                "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content,
                "Content-Type": "application/json"
            },
            success: function (data) {
                console.log(data,"data");
                if(data.status){
                    window.location.href="/"
                }
                else{
                    document.getElementById("otp_error_text").innerHTML = data?.message;
                }
            }
    });
    }
</script>
