<h5>Responses</h5>
<ul id="prompt-list" class="list-group">
    <% @prompt_lists.each do |prompt| %>
      <li class="list-group-item response-item" data-id="<%= prompt.id %>" style="cursor: pointer;"  onclick="handleResponse(<%=prompt.id%>)">
        <%= truncate(prompt.prompt, length: 50) %>
      </li>
    <% end %>
</ul>